.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 50px 0 100px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: 0px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

/* Custom page footer */
.footer {
  margin-top: 19px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 892px) {
    .affix {
        position: static;
    }
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span.editable-span {
  background-color: #ddd;
  min-width: 2em;
}

.epar-entry {
  position: relative;
}

.entry-actions {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.entry-actions span.btn {
  padding: 3px;
}

.competency-checkbox {
  margin: 2px;
  font-size: 12px;
}
